
<!DOCTYPE html>
<html>
<head>
<title>Je devine votre âge</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
</head>

<body>
    <form>
        <label for="start">Votre nom</label>
        <input type="text" id="your-name" name="your-name">
    </form>
    <button>Deviner l'âge</button>
    <p id='resultat'></p>
</body>

<script>
    $(function(){
	    $('button').click(function(){
            var data = {
                "name": $("#your-name").val()
            };
	    	$.ajax({
	    		url: '/guess',
	    		data: data,
	    		type: 'POST',
	    		success: function(response) {
                    $('#resultat').text('Vous avez ' + response.age + ' ans');
	    		},
	    		error: function(error){
	    			window.alert("Il y a eu une erreur");
	    		}
	    	});
	    });
    });
</script>